

                    <!--drop down select button-->
                    <div class="btn-group" uib-dropdown is-open="status.isopen" ng-model="lists">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            Add to list<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="" ng-repeat="list in lists" ng-click="addToList(detail.name, list.name)">{{list.name}}</a></li>
                            <!--<li role="menuitem"><a href="#">Another action</a></li>
                            <li role="menuitem"><a href="#">Something else here</a></li>-->
                            <li class="divider"></li>
                            <li role="menuitem"><a href="" ng-click="">Create new list</a></li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-primary" ng-click="addToList(detail)">Save</button>
                    <button type="button" class="btn btn-info" onclick="printPage()">Print</button>
                    <div id="share"></div>
                    <!--<img src="http://icons.iconarchive.com/icons/custom-icon-design/mono-general-1/128/save-icon.png" alt="save" class="button" ng-click="addToList(detail, list.name)">
                    <img src="http://www.megaicons.net/static/img/icons_sizes/8/60/256/devices-print-icon.png" alt="print" class="button" onclick="printPage()">-->
                </div>
            </div>
                <div class="related col-md-4">
                    <div ng-repeat="related in relateds">
                        <img class="related img-thumbnail" ng-src="{{related.smallImageUrls[0]}}" alt="related">
                        <a ng-href="/detail/{{related.id}}">{{related.recipeName}}</a>
                    </div>
                </div>
            </div>
            
    <div class="nutrition">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                <th>Nutrition</th>
                <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Calories</td>
                    <td>{{detail.nutritionEstimates[0].value}} {{detail.nutritionEstimates[0].unit.abbreviation}}</td>
                </tr>
              <tr ng-repeat="item in detail.nutritionEstimates" ng-if="item.value > 0" ng-hide="$first">
                <td>{{item.description}}</td>
                <td>{{item.value}} {{item.unit.abbreviation}}</td>
            </tr>  
            </tbody>
        </table>
    </div>
    </div>
</main>-->