<main ng-controller="recipiesSearch">
    <section class="orderTable">
        <div class="input">
            <p id="searchHeading"> Search products
                </p>
                <button type="submit" ng-click="searchItem(searchTerm)">Search</button>
                    <input type="text" name="search" id="searchTerm" placeholder="Enter a search term..." ng-model="searchTerm">
        </div>
        <table id="orderTable" class="container">
            <tbody alt="table">
                <tr aria-live="assertive" ng-repeat="item in items">
                    <td aria-live="assertive" alt="Image"></td>
                    <td aria-live="assertive" alt="Name">Item: <a>{{item.name}}</a>
                        <p>{{item.totalTime}}</p>
                    </td>
                    <td aria-live="assertive" alt="Price">Price: {{item.ingredientLines}}</td>
                </tr>
                <tbody>
        </table>
    </section>
    <section>

    </section>
</main>