<main class="container" id="lists">
<form name="newListForm">
<!--show a input model let user type the name-->
<h3>Create Your Own Meal Plan</h3>

<!--Input could be show in modal-->
<div class="form-group">
	
		<label for="listName">ListName</label>
		<input type="text" name="listName" id="listName" class="form-control" ng-model="listName" required>

</div>
</form>
<button aria-role = "add" ng-click="addList(listName)" type="button" class="btn btn-success" ng-disabled="newListForm.$invalid">Add</button>
<button aria-role = "generatenewlist"ng-click="random()"" type="button" class="btn btn-success" id="generateRan">Generate a random list</button>


<!--display all the list in the lists-->
<div ui-view></div>

</main>