<main class="container">
<form name="newListForm">
<!--show a input model let user type the name-->
<h3>Create New List</h3>

<!--Input could be show in modal-->
<div class="form-group">
	
		<label for="listName">ListName</label>
		<input type="text" name="listName" id="listName" class="form-control" ng-model="listName" required>

</div>
<button ng-click="addList(listName)" type="button" class="btn btn-success" ng-disabled="newListForm.$invalid">Add</button>
</form>
<!--display all the list in the lists-->
<div ui-view></div>

</main>