<main ng-controller="recipiesSearch">
    <section class="orderTable">
        <div class="input">
            <p id="searchHeading"> Search products
                </p>
                    <input type="text" name="search" id="searchTerm" placeholder="Enter a search term..." ng-model="searchTerm">
        </div>
        <table id="orderTable" class="container">
            <tbody alt="table">
                <tr aria-live="assertive" ng-repeat="item in items">
                    <td aria-live="assertive" alt="Name">Item: {{item.recipeName}}</td>
                </tr>
        </table>
        <button type="submit" ng-click="searchItem(searchTerm)">Search</button>
    </section>
</main>