<main class="searchPage" ng-controller="recipiesSearch">
    <div class="container">
        <div class="row">
            <div id="custom-search-input">
                <div id="searchBar" class="input-group col-lg-4">
                    <input role="search" type="text" class="search-query form-control" placeholder="Search" ng-model="searchTerm">
                    <span class="input-group-btn">
                                    <button aria-role="search" type="button" ui-sref="search({'searchTerm': searchTerm})" class="btn btn-success">
                                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
            <table role="results table" id="searchResult" class="table table-hover col-lg-11">
                <thead role="results table head" id="resultHeading">
                    <tr>
                    <td>Image</td>
                    <td>Recipe Name</td>
                    <td>Type of Dish</td>
                    <td>Rating</td>
                    </tr>
                </thead>
                <tbody id="resultInfo">
                    <tr ng-repeat="item in items">

                        <span ng-href="#/detail/{{item.id}}">
                        <td ng-href="#/detail/{{item.id}}"><img id="resultImg" src="{{item.smallImageUrls[0].concat('00')}}"></td>
                        <td ng-href="#/detail/{{item.id}}"><a ng-href="#/detail/{{item.id}}">{{item.recipeName}}</a></td>
                        <td ng-href="#/detail/{{item.id}}">Type of Dish: {{item.attributes.course[0]}}</td>
                        <td ng-href="#/detail/{{item.id}}"><s></s>{{item.rating}}</td>
                        </span>
                    </tr>
                </tbody>
            </table>
        </section>
</main>